.resume{
  position: relative;
}

.name img{
  max-height: 250px;
  width: 100%;
}
.name{
  position: relative;
  text-align: center;
}
.name section{
  position: absolute;
  top: 20%;
  left: 33%;

  font-style: normal;
  font-size: 30px;
  color: #000;
}
.about{
  display: inline-block;
  width: 40%
}
.education{
  width: 40%;
  float: right;
}

.skills{
  display: inline-block;
  width: 40%
}
.experience{
  width: 40%;
  float: right;
}

.circles {
  width: 30%;
  animation-name: drive;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.circles a{
  list-style-type: none;
  text-decoration: none;
  margin: 6px;
}
.circle-with-text {
  background: linear-gradient(orange, red);
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin: 5px 20px;
  font-size: 15px;
  padding: 15px;
  display: flex;
  height: 180px;
  width: 180px;
  color: #fff;
  transition : 1s;
}

.circle-with-text:hover{
  background  : linear-gradient(red, yellow);
  transform : rotate(360deg);
}
.fa{
  color: blue;
  margin: 0 4px;
  transition: 1s;
}
.fa:hover{
  transform: scale(2);
}

.multi-line-text {
  font-size: 20px;
}

body{
  background-color: #f49841;
  font-family: arial;
}

.heading{
  color: red;

}
.profile{
    width: 20%;
    margin: 0 auto;
    top: 10px;
}
.profile img{
  border-radius: 50px;
  position: absolute;
  height: 130px;
  width: 150px;
  animation-name: dive;
  animation-duration: 3s;
}



@keyframes drive{
  from{transform: translateX(0px)}
  to{transform: translateX(120%)}
}

@keyframes dive {
  0%{transform: translateY(-100%)}
  50%{transform: translateY(10%)}
  75%{transform: translateY(22%)}

}
